{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "modules": false
        // "targets": {
        //   "chrome": "50",
        //   "ie": "11"
        // }
        "targets": "> 0.25%, not dead"
      }
      // "@babel/react"
    ]
  ],
  "plugins": [
    [
      "@babel/transform-react-jsx",
      {
        // "pragma": "h",
        // "pragmaFrag": "Fragment",
        "runtime": "automatic",
        "importSource": "preact"   
      }
    ]
  ]
}