{
    "presets": [
        "@wyw-in-js/babel-preset",
        // "@linaria/babel-preset"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "runtime": "automatic",
                "importSource": "preact"
            }
        ]
    ],
    "env": {
        "development": {
            
        }
    }
}
